<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
<button ng-click="startAjax()">Start Ajax Call</button>


<div class="container" id="profile">
  
  <div class="col-xs-12" ng-if="user && profile.username === user.config.data.username">
    <a ng-click="editprofile()" href="" class="btn edit-profile-btn fa fa-pencil"> Edit Profile</a>
  </div>

  <div class="row info">    
    <img ng-if="profile.imageurl && !isediting" src="{{profile.imageurl}}" alt="" id="profilepic">
    <h1 class="title">{{profile.username}}</h1>
    <span>Member since: {{profile.short}}</span>
  </div>

  <div class="col-sm-4">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a href="#/userstories/{{profile.username}}">
              Stories started
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul>
              <li ng-repeat="story in profile.stories | orderBy:-story.startdate">
                <a href="#/story/{{story._id}}">
                  {{story.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a href="#/usersnippets/{{profile.username}}">
              Snippets written
            </a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a href="#/userfavorites/{{profile.username}}">
              Favorites
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="isediting" class="col-sm-8">
    <h2 ng-if="profile.aboutme">About Me</h2>
    <p ng-if="profile.aboutme">{{profile.aboutme}}</p>
    <h3 ng-if="!profile.aboutme && profile.username === username">Introduce yourself! Click on the pencil above to edit your profile</h3>
    <h2>Information</h2>

    <div class="col-sm-6">
      <p>Stories started:</p>
    </div>
    <div class="col-sm-6">
      <p>{{profile.stories.length}}</p>
    </div>

    <div class="col-sm-6">
      <p>Snippets written:</p>
    </div>
    <div class="col-sm-6">
      <p>{{profile.snippets.length}}</p>
    </div>

    <div ng-if="profile.age" class="col-sm-6">
      <p>Age:</p>
    </div>
    <div ng-if="profile.age" class="col-sm-6">
      <p>{{profile.age}}</p>
    </div>

    <div ng-if="profile.birthday" class="col-sm-6">
      <p>Birthday:</p>
    </div>
    <div ng-if="profile.birthday" class="col-sm-6">
      <p>{{profile.birthday | date:'MM/dd/yyyy'}}</p>
    </div>

    <div ng-if="profile.gender" class="col-sm-6">
      <p>Gender:</p>
    </div>
    <div ng-if="profile.gender" class="col-sm-6">
      <p>{{profile.gender}}</p>
    </div>

    <div ng-if="profile.interests" class="col-sm-6">
      <p>Interests:</p>
    </div>
    <div ng-if="profile.interests" class="col-sm-6">
      <p>{{profile.interests}}</p>
    </div>

    <div ng-if="profile.contact" class="col-sm-6">
      <p>Contact:</p>
    </div>
    <div ng-if="profile.contact" class="col-sm-6">
      <p>{{profile.contact}}</p>
    </div>

    <div ng-if="profile.location" class="col-sm-6">
      <p>Location:</p>
    </div>
    <div ng-if="profile.location" class="col-sm-6">
      <p>{{profile.location}}</p>
    </div>


  </div>

  <div ng-show="isediting" class="col-sm-8">
    <h2>About Me</h2>
    <!-- <input type="text"> -->
    <textarea ng-model="editobj.aboutme" name="start-snippet" id="" cols="30" rows="6"></textarea>
    
    <div class="col-sm-6">
      <br>
      <p>Profile Image URL:</p>
      <input ng-model="editobj.imageurl" type="text">
    </div>

    <div class="col-sm-6">
      <br>
      <p>Age:</p>
      <input ng-model="editobj.age" type="number" min="10">
    </div>

    <div class="col-sm-6">
      <br>
      <p>Birthday:</p>
      <input ng-model="editobj.birthday" type="date">
    </div>

    <div class="col-sm-6">
      <br>
      <p>Gender:</p>
      <input ng-model="editobj.gender" type="text">
    </div>

    <div class="col-sm-6">
      <br>
      <p>Location:</p>
      <input ng-model="editobj.location" type="text">
    </div>

    <div class="col-sm-6">
      <br>
      <p>Contact:</p>
      <input ng-model="editobj.contact" type="text">
    </div>

    <div class="col-sm-12">
      <br>
      <p>Interests:</p>
      <input ng-model="editobj.interests" type="text">
    </div>


    <div class="col-sm-6">
      <br>
      <br>
      <button ng-click="savechanges(editobj)" class="btn">Save changes</button>
    </div>

    <div class="col-sm-6">
      <br>
      <br>
      <button ng-click="editprofile()" class="btn">Cancel edit</button>
    </div>
    
  </div>

</div>