<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Collaborative Stories</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-loading-spinner/angular-loading-spinner.js"></script>
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body ng-controller="mainCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Collaborative Stories</a>
      </div>

      <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav navbar-right">

          <form class="navbar-form navbar-left" role="search">
            <div ng-show="!user" class="form-group">
              <input ng-model="logusername" type="text" class="form-control" placeholder="Username">
              <input ng-model="logpassword" type="password" class="form-control" placeholder="Password">
            </div>
            <button ng-if="!user" ng-click="login()" type="submit" class="btn btn-default">Login</button>
            <a ng-if="!user" href="#/register" type="" class="btn btn-default">Register</a>
            
            <a ng-if="user && username" href="#/profile/{{username}}" type="" class="btn btn-default">Welcome, {{username}} !</a>
            <a ng-if="user && !username" href="#/profile/{{user.config.data.username}}" type="" class="btn btn-default">Welcome, {{user.config.data.username}} !</a>

            <button ng-if="user" ng-click="logout()" type="" class="btn btn-default">Logout!</button>
          </form>

        </ul>
      </div>
    </div>
  </nav>


  <ui-view></ui-view>
  </body>
</html>
