<div class="container" id="new-story">

  <h1>New Story</h1>

  <div class="form col-sm-8 col-sm-offset-2">
    <div class="input-row">
      <h3>Story Title</h3>
      <input ng-model="newstory.title" type="text" required="required" class="form-control"/>
    </div>

    <div class="input-row">
      <h3>Writing Permission</h3>
      <!-- <input type="radio" name="permission" id="public"><label for="public" class="public">Public</label>
      <input type="radio" name="permission" id="private"><label for="private" class="private">Private</label> -->
      <select name="isprivate" ng-model="newstory.isprivate">
        <option name="Public" value="Public">Public</option>
        <option name="Private" value="Private">Private</option>
      </select>
      <br>
      <span>Public: Anyone can read and add onto this story</span>
      <br>
      <span>Private: Anyone can read this story, but only people you select can add onto it</span>
    </div>

    <div class="input-row">
      <h3>Starting Snippet</h3>
      <br>
      <textarea ng-model="newstory.opening" name="start-snippet" id="" cols="30" rows="10"></textarea>
      <button ng-click="openstory(newstory, user)" type="submit" class="btn publish-snippet">Publish</button>
    </div>


  </div>


  

  {{user}}
</div>