<div class="jumbotron text-center">
  <h1>Collaborative Stories</h1>
</div>
<div class="container">
  <label for="">Title:</label>
  <input type="text" ng-model="todo.title">
  <label for="">Due Date:</label>
  <input type="date" ng-model="todo.due">
  <!-- <button class="btn btn-success btn-lg" ng-click="addTodo(todo)">Add Todo</button> -->
  <a class="btn btn-success btn-lg" href="#/createstory">Open a Story</a>

  <hr>
  <table>
    <thead>
      <tr>            
          <th ng-click="sort('date')">#</th>
          <th ng-click="sort('title')">Title</th>
          <th ng-click="sort('date')">Created At</th>
          <th >Opening</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='item in stories | orderBy:sorttext track by $index' ng-class='{lightsteelblue: $even}'>
        
        <td>{{$index}}</td>
        <td>{{item.title}}</td>
        <td ng-if="item.long">{{item.long}}</td>
        <td ng-if="!item.long">{{item.date}}</td>
        <td>{{item.opening}}</td>
      </tr>
    </tbody>
  </table>
</div>