<!-- <div class="jumbotron text-center">
  <h1>Collaborative Stories</h1>
</div> -->
<div class="navbar-collapse collapse">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input ng-model="searchtext" type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>
<div class="container" id="home">
  <h1>Browse Stories</h1>

  <div class="row controls-row">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="sort-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort By
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="sort-by">
        <li><a ng-click="sort('-recent')">Last Updated</a></li>
        <li><a ng-click="sort('-startdate')">Start Date (New - Old)</a></li>
        <li><a ng-click="sort('startdate')">Start Date (Old - New)</a></li>
        <li><a ng-click="sort('-snippets.length')">Number of Snippets (Most - Least)</a></li>
        <li><a ng-click="sort('snippets.length')">Number of Snippets (Least - Most)</a></li>
        <li><a ng-click="sort('-views')">Number of Views (Most - Least)</a></li>
        <li><a ng-click="sort('views')">Number of Views (Least - Most)</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="filter-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="filter-by">
        <li><a ng-click="filter('all')">All Stories</a></li>
        <li><a ng-click="filter('public')">Public Stories</a></li>
        <li><a ng-click="filter('private')">Private Stories</a></li>
      </ul>
    </div>

    <a href="#/createstory" class="btn new-story-btn">New Story</a>
  </div>

  <div ng-repeat='item in stories | orderBy:sorttext | filter: searchtext track by $index' ng-if="!privatefilter || item.isprivate === filterisprivate">
    <!-- <h6>{{item}}</h6> -->
    <div ng-class="{private: item.isprivate }" class="panel panel-default story-preview col-sm-8 col-sm-offset-2">
      <div class="panel-body">
        <p>Started by: <a href="#/profile/{{item.startedby}}">{{item.startedby}}</a> | Started on: {{item.short}} | Most recent addition: {{item.recentlong}} | {{item.snippets.length}} snippets | {{item.views}} views</p>
        <h3>{{item.title}}</h3>
        <h5>{{item.opening}}</h5>
        <a href="#/story/{{item._id}}" class="btn read-story">Read</a>
      </div>
    </div>
  </div>

</div>