<!-- <div class="jumbotron text-center">
  <h1>Collaborative Stories</h1>
</div> -->
<div class="container" id="home">
  <h1>Browse Stories</h1>

  <div class="row controls-row">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="sort-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort By
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="sort-by">
        <li><a href="#">Last Updated</a></li>
        <li><a href="#">Start Date (New - Old)</a></li>
        <li><a href="#">Start Date (Old - New)</a></li>
        <li><a href="#">Number of Snippets (Most - Least)</a></li>
        <li><a href="#">Number of Snippets (Least - Most)</a></li>
        <li><a href="#">Number of Views (Most - Least)</a></li>
        <li><a href="#">Number of Views (Least - Most)</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="filter-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="filter-by">
        <li><a href="#">All Stories</a></li>
        <li><a href="#">Public Stories</a></li>
        <li><a href="#">Private Stories</a></li>
      </ul>
    </div>

    <a href="#/createstory" class="btn new-story-btn">New Story</a>
  </div>

  <div ng-repeat='item in stories | orderBy:sorttext track by $index'>
    <h6>{{item}}</h6>
    <div ng-class="{private: item.isprivate }" class="panel panel-default story-preview col-sm-8 col-sm-offset-2">
      <div class="panel-body">
        <p>Started by: {{item.startedby}} | Started on: {{item.short}} | Most recent addition: 3/23/16, 12:55pm</p>
        <h3>{{item.title}}</h3>
        <h5>{{item.opening}}</h5>
        <a href="/story.html" class="btn read-story">Read</a>
      </div>
    </div>
  </div>
  <!-- <hr>
  <table>
    <thead>
      <tr>            
          <th ng-click="sort('date')">#</th>
          <th ng-click="sort('title')">Title</th>
          <th ng-click="sort('date')">Created At</th>
          <th>Opening</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='item in stories | orderBy:sorttext track by $index' ng-class='{lightsteelblue: $even}'>
        
        <td>{{$index}}</td>
        <td>{{item.title}}</td>
        <td ng-if="item.long">{{item.long}}</td>
        <td ng-if="!item.long">{{item.date}}</td>
        <td>{{item.opening}}</td>
      </tr>
    </tbody>
  </table> -->

</div>