<div class="container" id="story">
  <pre>
    {{story._id}}
    {{story.title}}
    {{story.isprivate}}
    {{story.opening}}
    {{story.userid}}
    {{story.startedby}}
    {{story.snippets}}
  </pre>
  <div class="row info">
    <h1 class="title">{{story.title}}</h1>
    <span>
      Started by: 
      <a href="#/profile/{{story.startedby}}">{{story.startedby}}</a>
       | Started on: {{story.short}} | Most recent addition: {{story.recentlong}}
    </span>
    <br>
    <div ng-if="!story.isprivate" class="tag public">Public</div>
    <div ng-if="story.isprivate" class="tag private">Private</div>
    <div class="btn add-snippet">Add Snippet</div>
    <div class="btn favorite fa fa-heart"></div>
  </div>
  <div ng-if="story.startedby === user.config.data.username" class="row">
    <button ng-click="editstory(story, user)" class="col-sm-2 btn">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit Story
    </button>
    <button ng-click="deletestory(story, user)" ng-if="iseditstory" class="col-sm-2 btn btn">
      <span class="glyphicon glyphicon-trash"></span>
      Delete Story
    </button>
    <button ng-click="remove()" ng-if="isdeleting" class="col-sm-2 btn">Confirm delete</button>
  </div>

  <div ng-if="iseditstory" class="form col-sm-8 col-sm-offset-2">
    <div class="input-row">
      <h3>Story Title</h3>
      <input ng-model="editstoryobj.title" type="text" required="required" class="form-control"/>
    </div>

    <div class="input-row">
      <h3>Writing Permission</h3>
      <select name="isprivate" ng-model="editstoryobj.isprivate">
        <option name="Public" value="Public">Public</option>
        <option name="Private" value="Private">Private</option>
      </select>
      <br>
      <span>Public: Anyone can read and add onto this story</span>
      <br>
      <span>Private: Anyone can read this story, but only people you select can add onto it</span>
    </div>

    <div class="input-row">
      <h3>Starting Snippet</h3>
      <textarea ng-model="editstoryobj.opening" name="start-snippet" id="" cols="30" rows="10"></textarea>
      <button ng-click="editstory(story, user)" class="btn publish-snippet">Cancel Edit</button>
      <button ng-click="savechanges(editstoryobj)" class="btn publish-snippet">Save Changes</button>
    </div>


  </div>



  <div ng-hide="iseditstory" class="story-box col-sm-8 col-sm-offset-2">
    <div class="snippet">
      <!-- <div class="row"> -->
        <!-- <a href="#/profile/{{story.startedby}}" class="authorname col-sm-8">{{story.startedby}}</a> -->
      <!-- </div> -->
      <p>{{story.opening}} </p>
    </div>
    <div ng-repeat='snippet in story.snippets track by $index' class="snippet">
      <div class="row">
        <a href="#/profile/{{snippet.writtenby}}" class="authorname col-sm-8">{{snippet.writtenby}}</a>
        <a href="#/snippet/{{snippet._id}}" ng-if="snippet.writtenby === user.config.data.username" class="col-sm-1 col-sm-offset-3 authorname glyphicon glyphicon-pencil"></a>
      </div>
      <p>{{snippet.content}} </p>
    </div>

  <!-- <div class="col-sm-8 col-sm-offset-2">
    <a href="" class="btn new-snippet">New Snippet</a>
  </div> -->


  <div class="add-snippet col-sm-8 col-sm-offset-2">
    <textarea ng-model="newsnippet.content" name="new-snippet" id="" cols="30" rows="10"></textarea>
    <br>
    <button ng-click="addsnippet(newsnippet, user)" type="submit" class="btn publish-snippet">Publish</button>
  </div>



</div>