<div class="container" id="story">

  <div class="row info">
    <h1 class="title">{{story.title}}</h1>
    <span>Started by: {{story.startedby}} | Started on: {{story.short}} | Most recent addition: {{story.recentlong}}</span>
    <br>
    <div ng-if="!story.isprivate" class="tag public">Public</div>
    <div ng-if="story.isprivate" class="tag private">Private</div>
    <div class="btn add-snippet">Add Snippet</div>
    <div class="btn favorite fa fa-heart"></div>
  </div>

  <div class="story-box col-sm-8 col-sm-offset-2">
    <div class="snippet">
      <a href="/profile.html" class="authorname">{{story.startedby}}</a>
      <p>{{story.opening}} </p>
    </div>
    <div class="snippet">
      <a href="/profile.html" class="authorname">JayneLosten</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quod ad laudantium eius sequi laboriosam magni eum earum rerum cum, nobis alias, quae esse impedit inventore qui perspiciatis, ea quibusdam quaerat hic incidunt dicta. Quaerat rem exercitationem magnam. Ullam, asperiores explicabo nihil nemo veritatis debitis, natus porro repellendus, aut cumque nostrum eveniet veniam perspiciatis ipsam minima officiis vel dolores. Tenetur maiores, dignissimos asperiores debitis. Maiores eius possimus incidunt earum molestiae totam? Beatae enim veniam placeat ad facilis et itaque amet, nulla, molestias repellat, odio! Impedit aut veritatis deleniti praesentium, ratione perferendis molestiae, dolor dolorum cumque odit aspernatur, iusto, id dolorem.</p>
    </div>
    <div class="snippet">
      <a href="/profile.html" class="authorname">JayneLosten</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quod ad laudantium eius sequi laboriosam magni eum earum rerum cum, nobis alias, quae esse impedit inventore qui perspiciatis, ea quibusdam quaerat hic incidunt dicta. Quaerat rem exercitationem magnam. Ullam, asperiores explicabo nihil nemo veritatis debitis, natus porro repellendus, aut cumque nostrum eveniet veniam perspiciatis ipsam minima officiis vel dolores. Tenetur maiores, dignissimos asperiores debitis. Maiores eius possimus incidunt earum molestiae totam? Beatae enim veniam placeat ad facilis et itaque amet, nulla, molestias repellat, odio! Impedit aut veritatis deleniti praesentium, ratione perferendis molestiae, dolor dolorum cumque odit aspernatur, iusto, id dolorem.</p>
    </div>
    <div class="snippet">
      <a href="/profile.html" class="authorname">JayneLosten</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quod ad laudantium eius sequi laboriosam magni eum earum rerum cum, nobis alias, quae esse impedit inventore qui perspiciatis, ea quibusdam quaerat hic incidunt dicta. Quaerat rem exercitationem magnam. Ullam, asperiores explicabo nihil nemo veritatis debitis, natus porro repellendus, aut cumque nostrum eveniet veniam perspiciatis ipsam minima officiis vel dolores. Tenetur maiores, dignissimos asperiores debitis. Maiores eius possimus incidunt earum molestiae totam? Beatae enim veniam placeat ad facilis et itaque amet, nulla, molestias repellat, odio! Impedit aut veritatis deleniti praesentium, ratione perferendis molestiae, dolor dolorum cumque odit aspernatur, iusto, id dolorem.</p>
    </div>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <a href="" class="btn new-snippet">New Snippet</a>
  </div>


  <div class="add-snippet col-sm-8 col-sm-offset-2">
    <!-- <textarea name="start-snippet" id="" cols="30" rows="10"></textarea> -->
    <textarea ng-model="newsnippet.content" name="new-snippet" id="" cols="30" rows="10"></textarea>
    <br>
    <a href="/story.html" class="btn publish-snippet">Publish</a>
  </div>



</div>